html, body{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-size: 1em
}

body{
    
    color:red;
    background-color: beige;
    font-size:17px;
    line-height: 1.55;
    font-family: san-serif;
}

header{
    
    display:block;
    margin:0 auto;
    width:100%;
    height: 280px;
    
}

#logo{
    
    margin:0 auto;
    float:left;
    
    
}

#one_nav{
        
    float:right;
    margin: 0 auto;
    height: 180px;
}

#one_nav > ul > li > a{
    
    margin:0 auto;
    display:inline-block;
    background-color:aqua;
    
}

/*
html, body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 55.5%;
    
}

body{
    
    color: #818181;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: 1.55;
    font-family: sans-serif;
    
}

header{
    
    display:block;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: darkgrey;
    padding:25px 0 30px 0;
    width: 100%;
    height: 140px;
    
}

header:hover{
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    background-color:navy;
    transition: background 3s;
}

#header_left{ changed to logo

    margin:0 auto;
    padding:30px;
    float:left;
    
    
}
#header_left:hover{
    background-color:whitesmoke;
    transition: background 2s;
    border-radius: 50px 50px 10px 10px;
}


#one_nav{
    
    float:right;
    color: #F9F9F9;
    width: calc(100%/6);
    line-height: 30px;
    display:block;
    margin: 0 auto;
    background-color:#f42098;
}



.firstul{
    
    display:inline;
    width:0 auto;
    margin:0 auto;
    text-transform: uppercase;
    padding:3px;
    float:left;

}

.firstul > a{
    
    display:inline;
    width:0 auto;
    margin:0 auto;
    text-transform: uppercase;
    padding:3px;
    float:left;
    
}



.firstul{
    
    display:inline-block;
    width:100%;
    height: auto;
    margin: auto;
    padding: 0;
    background-color: #f42098;
    font-size: 15x;
    
}
.firstul > a{
    
    display:inline-block;
    margin: 5px;
    font-size: 13px;
    float:right;
    padding: 0;
    width: calc(130%/13);
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    
}
    
#one_nav{
    
    margin: 0 auto;
    text-align: right;
    margin: 9px 0 0 0 0;
    list-style: none;
    display:block;
    background-color:aqua;
   
}

#one_nav:hover{
    background-color:bisque;
    transition: background 2s;
}



.one_li{
    display:block;
    padding: 1px 5px 1px 5px;
    margin: 0 0 3px 0;
    background-color: #6c5b79;
    padding: 0;
    font-size: 12px;
    width: calc(100%/4);
    font-weight: bold;
     width: 160px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    
}

.li_one{
    display: inline-block;
    text-align: left;
    padding: 1px 5px 1px 5px;
    margin: 0 0 3px 0;
    background-color: #6c5b79;
    padding: 0;
    font-size: 12px;
    width: calc(100%/3);
    font-weight: bold;
     width: 160px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    
}

.two_li{
    float: left;
    color: #F9F9F9;
    width: calc(100%/13);
    line-height: 30px;
    margin: 0 auto;
    background-color:#f42098;


}

input{
    background-color: #6c5b79;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 160px;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
*/


/*[if lt lE9]*/
<script src"http://html5shiv.googlecode.com/sun/trunk/html/5.js"></sript>



@media only screen and (min-width:600px) and (max-width:920px){
    body{
        width:90%;
    }
}

@media only screen and (max-width:599px){
    
    body{
        width 320px
    }
    pre{
        font-size:.8em;
        padding:.5em;
        background:rgb(246,247,169);
        
        
        
    }
}

/*CUSTOM, iphone Retina*/
@media only screen and (min-width:320px){
    
}

Extra small devices, phones
@media only screen and (min-width : 480px){
    
}
    
    @media only screen and (min-width : 768px){
        
}

medium devices destops
@media only screen and (min-width : 992px){
    
}

